<h2>Manage Page: <span class="subheading"><%= @page.title %></span></h2>
<div id='breadcrumbs'>
  <%= link_to 'Administration', admin_path %> > <%= link_to 'Manage Pages', admin_pages_path %> > <%= link_to truncate(@page.title), admin_page_path(@page) %> > <strong>Manage Title and URL</strong>
</div>

<%= form_for [:admin, @page] do |f| %>
  <h3>Change Title or Set a Custom URL</h3>
  <p>The URL is based on the title of the page by default.  Adding text as a URL seed will override the title when setting the URL.  Because all URLs must be unique, if a URL is already taken by another page, the URL generated will have a suffix.</p>
  <p>You can see all URLs currently associated with a page by viewing the <%= link_to 'page history', admin_page_path(@page) %>.</p>
  <p class='form'><%= f.label :title %><%= f.text_field :title, :class => 'wide' %></p>
  <p class='form'><%= f.label :url_seed, 'URL Seed' %><%= f.text_field :url_seed, :class => 'wide' %></p>
  <p class='form'><%= f.label :submit, 'Do it!' %><%= f.submit 'Submit', :class => 'wide_submit' %> <%= link_to 'Go back', admin_pages_path %></p>
<% end %>

<% content_for :right do %>
  <h3>Managing a Page's Title and URL</h3>
  <p>Pages are available at a human-friendly URL that is based on it's title by default.  However, you can submit an alternate <strong>URL seed</strong> which will then be used to generate a unique URL for the page.</p>
  <p>When you change a page's title or submit a new URL seed, the page's URL will immediately change and any old URLs will redirect to the new page.</p>
  <h3>URL Seed</h3>
  <p>The <strong>URL Seed</strong> can be any text in a form similar to how you would like the URL to appear.  Any non-URL-friendly characters will be replaced and the URL will be suffixed if it isn't unique.</p>
<% end %>
