<h2>Manage Pages</h2>
<div id='breadcrumbs'>
  <%= link_to 'Administration', admin_path %> > <strong>Manage Pages</strong>
</div>
<p>The page management page allows you to organize, create, retire, and edit the pages that make up the bulk of the USG website.  Additionally, you can track the changes pages have undergone using the history tool.</p>

<h3>Newest Active Pages - <%= link_to 'See all', active_admin_pages_path %></h3>
<table>
  <tbody>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th style="width:45px">Edit</th>
    </tr>
    <%= render @pages %>
  </tbody>
</table>

<h3>Recently Archived Pages - <%= link_to 'See all', archived_admin_pages_path %></h3>
<table>
  <tbody>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th style="width:45px">Edit</th>
    </tr>
    <%= render @archived_pages %>
  </tbody>
</table>

<% content_for :right do %>
  <h3>Create a New Page</h3>
  <%= form_for [:admin, @new_page] do |f| %>
    <p><%= f.text_field :title, :placeholder => 'Title', :style => 'width:210px' %></p>
    <p><%= f.select :parent_id, nested_set_options(Page, @new_page) {|i| truncate("#{'-'*i.level} #{i.title}")}, :include_blank => "Parent (none)" %></p>
    <p><%= f.submit %></p>
  <% end %>

  <h3>Managing Pages</h3>
  <p><strong>Active pages</strong> lists all of the currently active pages available on the website.</p>
  <p><strong>Archived pages</strong> lists pages that have been retired and are no longer available on the website.</p>
  <h3>Legend</h3>
  <p><%= image_tag 'writing_12.png' %> - Edit page content</p>
  <p><%= image_tag 'gear_12.png' %> - Edit the page title and URL</p>
  <p><%= image_tag 'notebook_12.png' %> - View page details</p>
<% end %>