<h2>Manage Page: <span class='subheading'><%= @page.title %></span></h2>
<div id='breadcrumbs'>
  <%= link_to 'Administration', admin_path %> > <%= link_to 'Manage Pages', admin_pages_path %> > <strong><%= truncate(@page.title) %></strong>
</div>
<h3>Page History</h3>

<h3>Page URLS</h3>
<%= @page.slugs %>