!!!
%html
  %head
    %title USG Admin Interface
    =render "layout_partials/header"
    =stylesheet_link_tag "admin", :media => "all"
  %body
    .body-container
      =render "layout_partials/logo_and_navigation"
      #container
        #admin_navigation
          %ul
            %li= link_to "Home", "/admin"
            %li= link_to "Users", admin_users_url
            %li= link_to "Pages", admin_pages_url
      #container
        -if content_for?(:right)
          #left= yield
          #right= yield(:right)
        -else
          =yield
      .body-container-push
    =render "layout_partials/footer"
