<!DOCTYPE html>
<html>
<head>
  <title>USG</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Habibi|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    //<![CDATA[
      $(function(){
        $("body").noisy({
          opacity: 0.07
        });
      });
    //]]>
  </script>
</head>
<body>
  <div class="body-container">
    <%= render "layout_partials/header" %>
    <div id="container" class="logo">
      <div id="logo">
        <%= image_tag "logo.png" %>
        <h1><a href="#">Undergraduate Student Government</a>
      </div>
    </div>
    <% if !flash.empty? %>
      <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, raw(msg), :id => "flash", :class => "#{name}" if msg.is_a?(String) %>
      <% end %>
      </div>
    <% end %>
    <div id="container">
      <%= yield %>
    </div>
    <div class="body-container-push"></div>
  </div>
  <footer id="footer">
    <div id="container">
      <div class="footer-left">
        The <strong>USG</strong> is a member of the <a href="#">Student
          Executive Council</a> at
        <a href="http://www.case.edu">Case Western Reserve University</a>
      </div>
      <div class="footer-right">
        <% if user_signed_in? %>
          Logged in as <%= current_user.username %>.
          <%=link_to "Log Out", destroy_user_session_url %>
        <% else %>
          <%=link_to "Log In", user_session_url %>
        <% end %>
      </div>
    </div>
  </footer>
</body>
</html>
